<!-- Why Choose Us -->
<div id="features" class="section md-padding bg-grey">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- why choose us content -->

      <div class="col-md-12">
        <div class="section-header">
          <p>Why Choose Us </p>
          <h2 class="title">What we believe in- Values</h2>
        </div>
      </div>
      <!-- /why choose us content -->

      <div class="feature col-md-3 col-sm-6">
        <i class="fa fa-check"></i>
        <h5>Innovation Obsession</h5>
        <p>Singular most essential tool to craft promising futures.</p>
      </div>
      <div class="feature col-md-3 col-sm-6">
        <i class="fa fa-check"></i>
        <h5>Collaborate to create</h5>
        <p><span #col id="col" >The advantage of alliance that fuels mutual trust and productive, collaborative working relationships</span>
          <a readMore [readMore-length]="75" [readMore-element]="col">
          <span class="less">Less</span>
          <span class="more">More</span>
        </a></p>
      </div>
      <div class="feature col-md-3 col-sm-6">
        <i class="fa fa-check"></i>
        <h5>Show, Don’t Tell</h5>
        <p>We are not here just to identify problems, we’re here to address them.</p>
      </div>
      <div class="feature col-md-3 col-sm-6">
        <i class="fa fa-check"></i>
        <h5>Be Fast, Be First</h5>
        <p>Take small steps but make sure you are the first one to do so.</p>
      </div>
   
      <div class="feature col-md-3 col-sm-6">
        <i class="fa fa-check"></i>
        <h5>Growth Driven, Globally Oriented</h5>
        <p>Growing our people, markets and businesses around the world</p>
      </div>
      <div class="feature col-md-3 col-sm-6">
        <i class="fa fa-check"></i>
        <h5>Earn Trust</h5>
        <p>The integrity to do what’s right</p>
      </div>
      <div class="feature col-md-3 col-sm-6">
        <i class="fa fa-check"></i>
        <h5>Solution Bias</h5>
        <p><span #sol id="sol"> We anticipate challenges that effectuate better outcomes, better decisions. We collaborate inside and outside, innovate and execute with speed and agility to find the best solutions!</span>
          <a readMore [readMore-length]="65" [readMore-element]="sol">
              <span class="less">Less</span>
              <span class="more">More</span>
            </a> </p>
      </div>
      <div class="feature col-md-3 col-sm-6">
        <i class="fa fa-check"></i>
        <h5>Our Business</h5>
        <p><span id="bus" #bus >What sets us apart is the simple belief that our solutions are not just operative in the present but are completed adaptable for the future.</span>
          <a readMore [readMore-length]="65" [readMore-element]="bus">
              <span class="less">Less</span>
              <span class="more">More</span>
            </a>
        </p>
      </div>



      <!-- About slider -->
      <!--<div class="col-md-6">
        <div id="about-slider" class="owl-carousel owl-theme">
          <img class="img-responsive" src="./assets/img/about1.jpg" alt="" />
          <img class="img-responsive" src="./assets/img/about2.jpg" alt="" />
          <img class="img-responsive" src="./assets/img/about1.jpg" alt="" />
          <img class="img-responsive" src="./assets/img/about2.jpg" alt="" />
        </div>
      </div>-->
      <!-- /About slider -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Why Choose Us -->