<!-- About -->
<div id="about" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Our Manifesto </h2>
        <h5>We humanize technology</h5>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            We inculcate human values to the world of IT- morality, responsibility, collaboration and recognition.   These values guide us to take action in the right direction.
          </div>
        </div>
      </div>
    </div>
      <!-- /Section header -->
    <div class="row">
      <div class="col-md-6">
        <h4 class="title">Mission</h4>
        <p>We are in the business of digital transformation. Take full advantage of technology, expertise and ability to simply allow our clients to meet their future today.</p>
      </div>
      <div class="col-md-6">
        <h4 class="title">Vision</h4>
        <p>Build and implement the best business software solutions to bring about an effectual change.</p>
      </div>
    </div>

    <div class="row">
      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-lightbulb-o"></i>
          <h3>Trust Only the Power of Ideas </h3>
          <p>Ideas can come from anybody, no matter what gender, age, race, socioeconomic background, or education level. </p>
        </div>
      </div>
      <!-- /about -->
    
      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-handshake-o"></i>
          <h3>Be comfortable with risks! </h3>
          <p>Pioneers are those who are never afraid of taking risks- so we encourage you to be a pioneer, if you want to be anything at all. </p>
        </div>
      </div>
      <!-- /about -->

      <!-- about -->
      <div class="col-md-4">
        <div class="about">
          <i class="fa fa-podcast"></i>
          <h3>Culture breeds talent! </h3>
          <p><span id="cault" #cault>From visionaries to influencers and from enablers to dreamers we believe in the collective power of talent. Best way to unleash the power of talent is creating a culture that ignites people to do incredible things. Coming to work should always be must be challenging, exciting and engaging … not boring and uninteresting!</span>
            <a readMore [readMore-length]="135" [readMore-element]="cault">
                <span class="less">Less</span>
                <span class="more">More</span>
              </a>
          </p>
        </div>
      </div>
      <!-- /about -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /About -->