<!-- Portfolio -->
<div id="portfolio" class="section md-padding bg-grey">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Featured Works </h2>
      </div>
      <!-- /Section header -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="./assets/img/20170301155447.jpg" alt="" />
        <div class="overlay"></div>
        <div class="work-content">
            <span><strong>Invictus</strong></span>
          <h3>Business Intelligence  </h3>
          <!--<div class="work-link">
            <a href="#"><i class="fa fa-external-link"></i></a>
            <a class="lightbox" href="./assets/img/work1.jpg"><i class="fa fa-search"></i></a>
          </div>-->
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="./assets/img/food.png" alt="" />
        <div class="overlay"></div>
        <div class="work-content">
            <span><strong>Invictus</strong></span>
          <h3>Food Place  </h3>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="./assets/img/hospital.jpg" alt="" />
        <div class="overlay"></div>
        <div class="work-content">
          <span><strong>Invictus</strong></span>
          <h3>Hospital Management<br/>System</h3>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <!-- <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="./assets/img/download.JPG" alt="" />
        <div class="overlay"></div>
        <div class="work-content">
          <span> </span>
          <h3>Invictus HRMS </h3>
        </div>
      </div> -->
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="./assets/img/erp.png" alt="" />
        <div class="overlay"></div>
        <div class="work-content">
          <span> </span>
          <h3>Invictus ERP </h3>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="./assets/img/smart-home.PNG" alt="" />
        <div class="overlay"></div>
        <div class="work-content">
            <span><strong>Invictus</strong></span>
          <h3>Internet of Things<br/>Solutions </h3>
        </div>
      </div>
      <!-- /Work -->

      <!-- Work -->
      <div class="col-md-4 col-xs-6 work">
        <img class="img-responsive" src="./assets/img/evendi.png" alt="" />
        <div class="overlay"></div>
        <div class="work-content">
          <span></span>
          <h3>E-Vendi</h3>
        </div>
      </div>
      <!-- /Work -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Portfolio -->