<!-- Service -->
<div id="service" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      
      <div class="section-header text-center">
        <h2 class="title">What we offer </h2>
        <h5>BEST WAY TO SEE FUTURE IS TO CREATE IT.</h5>
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            We specialize in agile software solutions that prepare our partners for next generation of digital and communication transformation. We realize speedy provision of services, complexity in communication infrastructure and ever growing need to develop automated solutions; helps us remain future centric in our approach, creating value now for a bigger future today.
          </div>
        </div>
      </div>
      <!-- /Section header -->
      
      <div class="col-md-4">

      <!-- service -->
        <div class="service">
          <i class="fa fa-user"></i>
          <h3>Outsourcing Consultancy</h3>
          <span #oc id="oc">The practice of having certain job functions done outside a company instead of having an in-house department or employee handle them; functions can be outsource to either a company or an individual. Outsourcing has become a major trend in human resources over the past decade.</span>
          <a readMore [readMore-length]="75" [readMore-element]="oc">
            <span class="less">Less</span>
            <span class="more">More</span>
          </a>
        </div>
      <!-- /service -->

      <!-- service -->
        <div class="service">
          <i class="fa fa-search"></i>
          <h3>SEO and Ecommerce Solutions </h3>
          <span id="seo" #seo>From clicks to rank to revenue to costs, Active Media increases the return on your search engine marketing investment. </span>
          <a readMore [readMore-length]="75" [readMore-element]="seo">
            <span class="less">Less</span>
            <span class="more">More</span>
          </a>

        </div>
      <!-- /service -->

        <!-- service -->
            <div class="service">
              <i class="fa fa-shield"></i>
              <h3>System Security and Gap Analysis </h3>
              <span id="ssg" #ssg>Integrated cybersecurity services to address your security challenges of today and tomorrow.</span>
              <a readMore [readMore-length]="75" [readMore-element]="ssg">
                <span class="less">Less</span>
                <span class="more">More</span>
              </a>
              
            </div>
          <!-- /service -->
          <!-- service -->
          <div class="service">
            <i class="fa fa-cogs"></i>
            <h3>Machine learning & Artificial Intelligence </h3>
            <span #ai id="ai" >Machine Learning Solutions for devices that think and act like real humans; and even beyond.</span>
          </div>
        <!-- /service -->
            
        
    </div>

    <div class="col-md-4">
          
        <!-- service -->
          <div class="service">
            <i class="fa fa-globe"></i>
            <h3>Web Registration and Hosting Services </h3>
            <span id="webreg" #webreg>INVICTUS Solutions web hosting provides a vast array of tools to take your idea or business online today. From site building tools and templates, to our one-click application installer, you'll find everything you need to launch your new website. </span>
            <a readMore [readMore-length]="75" [readMore-element]="webreg">
                <span class="less">Less</span>
                <span class="more">More</span>
              </a>
          </div>
        <!-- /service -->

        <!-- service -->
        <div class="service">
          <i class="fa fa-desktop"></i>
          <h3>Website Development & Business Intelligence</h3>
          <span #webdev id="webdev">We are a professional Web Development and Business Intelligence company with a results driven approach to everything we do from aesthetics to functionality. Our extensive experience, talented designers, and developers as well as a love for what we do, gives us the advantage over our competitors. </span>
          <a readMore [readMore-length]="70" [readMore-element]="webdev">
            <span class="less">Less</span>
            <span class="more">More</span>
          </a>
        </div>
      <!-- /service -->

        
        <!-- service -->
          <div class="service">
            <i class="fa fa-cloud"></i>
            <h3>Cloud Services</h3>
            <span #cloud id="cloud" >Whether you're looking for compute power, database storage, content delivery, or other functionality, Cloud has the services to help you build sophisticated applications with increased flexibility, scalability and reliability</span>
            <a readMore [readMore-length]="75" [readMore-element]="cloud">
              <span class="less">Less</span>
              <span class="more">More</span>
            </a>
          </div>
        <!-- /service -->
         <!-- service -->
         <div class="service">
            <i class="fa fa-sitemap"></i>
            <h3>Networking Services </h3>
            <span>No matter if its cloud, on premise, or otherwise, it runs on infrastructure.
                Storage, Servers, Wireless, Switches, Firewalls.
                </span>
          </div>
        <!-- /service -->

</div>
  <div class="col-md-4">
        <!-- service -->
          <div class="service">
            <i class="fa fa-briefcase"></i>
            <h3>Business Applications and Training </h3>
            <span #busapp id="busapp" >At INVICTUS Solutions, we offer effective and innovative business services for executives and growth-oriented companies. Our assessment, development, and training services can help you achieve the results you are looking for.</span>
            <a readMore [readMore-length]="60" [readMore-element]="busapp">
              <span class="less">Less</span>
              <span class="more">More</span>
            </a>
          </div>
        <!-- /service -->
  
        <!-- service -->
            <div class="service">
              <i class="fa fa-mobile"></i>
              <h3>Mobile Apps Development </h3>
              <span #mobapp id="mobapp" >Whether looking to create a mobile application for smartphones, tablets or both, INVICTUS Solutions has your organization covered no matter the platform it is to be built on or device it is to be used in conjunction with.</span>
              <a readMore [readMore-length]="75" [readMore-element]="mobapp">
                <span class="less">Less</span>
                <span class="more">More</span>
              </a>
            </div>
          <!-- /service -->
        <!-- service -->
          <div class="service">
            <i class="fa fa-cogs"></i>
            <h3>ERP Implementation & Integration </h3>
            <span id="erp" >Integrate different departments of your organization to smoothen operations.</span>
          </div>
        <!-- /service -->
        <!-- service -->
        <div class="service">
            <i class="fa fa-globe"></i>
            <h3>Internet of Things (IOT)</h3>
            <span #iot id="iot" >A system of ubiquitous devices connecting the physical world to the cloud.</span>
            <a readMore [readMore-length]="75" [readMore-element]="iot">
              <span class="less">Less</span>
              <span class="more">More</span>
            </a>
          </div>
        <!-- /service -->

</div>
<div class="col-md-4">
        
        

      

      
     
      
        
</div>
    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Service -->