<!-- Numbers -->
<div id="numbers" class="section sm-padding">

  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('./assets/img/background2.jpg');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-users"></i>
          <h3 class="white-text"><span class="counter">51 </span></h3>
          <span class="white-text">Happy clients </span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-trophy"></i>
          <h3 class="white-text"><span class="counter">5 </span></h3>
          <span class="white-text">Affiliations </span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-coffee"></i>
          <h3 class="white-text"><span class="counter">500+ </span></h3>
          <span class="white-text">Cups of Coffee </span>
        </div>
      </div>
      <!-- /number -->

      <!-- number -->
      <div class="col-sm-3 col-xs-6">
        <div class="number">
          <i class="fa fa-file"></i>
          <h3 class="white-text"><span class="counter">23 </span></h3>
          <span class="white-text">Projects completed </span>
        </div>
      </div>
      <!-- /number -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Numbers -->