<!-- Testimonial -->
<div id="testimonial" class="section md-padding">

  <!-- Background Image -->
  <div class="bg-img" style="background-image: url('./assets/img/background3.jpg');">
    <div class="overlay"></div>
  </div>
  <!-- /Background Image -->

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">
        <!-- Testimonial slider -->
        <div class="col-md-5 col-md-offset-1">
            <div class="testimonial">
                <div class="testimonial-meta">
                  <img src="./assets/img/faisal.jpeg" alt="" />
                  <h3 class="white-text">Faisal Shehzad </h3>
                  <span>Project Manager</span>
                </div>
                <p class="white-text">15+ Years of Professional Experience in Business Applications and ERP Management also a Microsoft Certified Professional. </p>
              </div>
        </div>
        <div class="col-md-5">
            <div class="testimonial">
                <div class="testimonial-meta">
                  <img src="./assets/img/kaleem.jpeg" alt="" />
                  <h3 class="white-text">Kaleem Paracha </h3>
                  <span>Sr. Software Engineer </span>
                </div>
                <p class="white-text">Major Experties in Microsoft Technologies .NET C# MVC, SQL Server,Jquery, Web Service. </p>
                </div>
          </div>
      <!-- /Testimonial slider -->

    </div>
    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Testimonial -->




