<!-- Team -->
<div id="team" class="section md-padding bg-grey">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">
      <!-- Section header -->
      <div class="section-header col-md-offset-1" >
        <h2 class="title">WHO WE ARE</h2>
      </div>
      <!-- /Section header -->
   </div>

   <div class="row">
     <!-- <div class="col-md-4 col-sm-6 col-sm-offset-1">
        <img class="img-responsive" src="" alt="" />
      </div>-->
      <div class="col-md-8 col-md-offset-1 col-sm-6">
        <!--<h2 class="mrg-b10">Farhan Tufail</h2>
-->
        
      <!--  <p class="mrg-t30 bg-grey ceo-msg">We’re absolutely confident that we always have an IT solution that meets any client’s need. My goal is to instill trust in our clients, setting a foundation for a long-term business relationship. Today as a matter of fact, our competition strives towards technological expertise solely, overlooking the bigger picture. </p> -->

      </div>
      <div class="col-md-10 col-sm-offset-1">
       <p class="mrg-t30 text-justify">
       We’re absolutely confident that we always have an IT solution that meets any client’s need. My goal is to instill trust in our clients, setting a foundation for a long-term business relationship. Today as a matter of fact, our competition strives towards technological expertise solely, overlooking the bigger picture.
       </p>
       
       
       <p class="text-justify">In today’s world it is essential to be mindful of human needs and become increasingly more human responsive. Objectively, the needs of your human resources need to be addressed incipiently before expectations of outcome can be imagined. In earnest, quality will follow once their needs are met unreservedly. Your humans will go on and bring out an effectual change that influences how humans of the world interact with your product.</p>
       <p class="text-justify">Secondly, reality is, most firms are business driven, pursuing business goals rather than aligning their aims to meet those of the clients. This encumbered approach incessantly inhibits growth and is void of any benefits that might create an effectual change in the world.</p>
        <p class="text-justify">Our approach is different; we not only help our clients adapt new technology with agility, it’s vital that we facilitate them in sustaining that change. We transform their businesses with automation and digital solutions - adapting to the future, starting today, not only in the realm of technology but also to changes in business models and the way we understand how our clients’ ever-evolving work.</p>
        <h3 class="mrg-b10 text-center">Farhan Tufail,&nbsp;CEO</h3>
        <p class="text-center"><span class="fa fa-envelope-o"></span> farhan@invictussolutions.co</p>

      </div>
   </div>

 </div>
</div>
<!-- 
<div class="section md-padding">
  <div class="container">

   <div class="row">
     <div class="row">

       <div class="section-header text-center">
         <h2 class="title">Our People </h2>
         <div class="row">
           <div class="col-sm-10 col-sm-offset-1">
             Till now it’s a small enterprise but our team is made up of individuals that are not just big thinkers but achievers. Our people are our biggest asset because it is their relentless drive to constantly push the boundaries and build solutions that are not just a one stop solution for the present but also the future.
           </div>
         </div>
       </div>
     </div>


      <div class="col-sm-4">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="./assets/img/dummy-image_0.jpg" alt="" />
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Adeel Razaq</h3>
            <span>Team Lead / Project Manager </span>
          </div>
        </div>
      </div>
      

      
      <div class="col-sm-4">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="./assets/img/dummy-image_0.jpg" alt="" />
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Waleed Maggu </h3>
            <span>Founder</span>
          </div>
        </div>
      </div>
      
      <div class="col-sm-4">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive" src="./assets/img/dummy-image_0.jpg" alt="" />
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Faisal Shahzad </h3>
            <span>Project Manager / ERP Developer </span>
          </div>
        </div>
      </div>
    </div>
     /Row 

  </div>

</div>
 /Team -->